 
 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

        
          <div class="inner cover">
            <h1 class="cover-heading">The Art of the Drink</h1>
            <p class="lead"> "I'd rather take coffee than compliments just now." -Louisa May Alcott <span class="glyphicon glyphicon-asterisk"></span> "I drink to make other people more interesting." -Ernest Hemingway <span class="glyphicon glyphicon-asterisk"></span> "Black as night, sweet as sin." -Neil Gaiman <span class="glyphicon glyphicon-asterisk"></span> "Here's to alcohol, the rose colored glasses of life." -F. Scott Fitzgerald <span class="glyphicon glyphicon-asterisk"></span> "Vino sacado, hay que gastarlo." <span class="glyphicon glyphicon-asterisk"> </span>  "Good people drink good beer." -Hunter S. Thompson <span class="glyphicon glyphicon-asterisk"></span> "Quickly, bring me a beaker of wine, so that I may wet my mind and say something clever." <span class="glyphicon glyphicon-asterisk"> </span> "We want to do a lot of stuff; we're not in great shape.  We didn't get a good night's sleep.  We're a little depressed.  Coffee solves all these problems in one delightful little cup." -Jerry Seinfeld <span class="glyphicon glyphicon-asterisk"> </span> "Whiskey is liquid sunshine." -George Bernard Shaw <span class="glyphicon glyphicon-asterisk"> </span> "You can't get a cup of tea big enough or abook long enough to suit me." -C.S. Lewis <span class="glyphicon glyphicon-asterisk"></span> "If it wasn't for the coffee, I'd have no identifiable personality whatsoever." -David Letterman <span class="glyphicon glyphicon-asterisk"> </span> "Wine is bottled poetry." -Robert Louis Stevenson 
            </p>
          
          <div class="text center">
              <%= form_tag places_path, :method => 'get' do %>
                  <form class="form-inline text-center" role="form" action="/places">
                      <div class="col sm 3">                     
                          <div class="form-group text-center">
                              <h4><%= label_tag :kind_id %></h4>
                                <%= select_tag :kind_id, options_for_select([['beer','0'],['chocolate','1'],['cocktail','2'],['coffee','3'], ['tea','4'], ['wine','5'], ['juice','6']]), class: "form-control" %>
                          </div>
                      </div>
                      <div class="col sm 3">
                        <div class="form-group text-center">
                          <h4><%= label_tag :location_id %></h4>
                            <%= select_tag :location_id, options_for_select([['San Francisco','1'],['Santiago','2'], ['Valparaiso','3'], ['Rio de Janeiro','4']]), class: "form-control" %>
                        </div>
                      </div>

                      <div class="col sm 3">
                        <div class="actions text-center">
                            <span itemprop="significantLink">
                            <%= submit_tag 'Search', :name => nil, class: "btn btn-default" %>
                             </span>
                        </div>
                      </div>                  
                  </form>
              <% end %>    
          </div>     
        </div>
    </div>
  </div>

</div>


<div class="blank-row"></div>

<div class="row text-center">
    <h1>CITY GUIDES</h1>
</div>
<div class="blank-row"></div>





