<p id="notice"><%= notice %></p>

<%= link_to 'Home', cities_path, class: "btn btn-default btn-xs" %>


<br>
<br>
<br>

<div class="row">
    <div itemscope itemtype="http://schema.org/FoodEstablishment">  
       <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <h1 class="home-title">
      	     <span itemprop="addressLocality"><%= @city.name %></span>
            </h1>   
      </div>
    </div>



<% if @city.user == current_user %>
  <%= link_to 'Edit', edit_city_path(@city), class: "btn btn-default" %>
<% end %>
</div>
</div>

<div id="places" class="transitions-enabled">
  <% @places.each do |place| %>     
    
      <div class="box panel panel-default">
          <div id="image-wrapper">
          <span itemprop="photo">
              <%= link_to image_tag(place.image.url(:medium)), place, class: "hover" %>
          </span>
           <p class="image-text text-center"> <span itemprop="name">
                <%= place.name %>
            </span>
          <br>
         
            <span itemprop="servesCuisine"><%= [place.kind] %>
            </span>
          </p>
                   

  <% if place.user == current_user %>
      <div class="actions">
         <%= link_to 'Edit', edit_place_path(place) %>
         <%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
  <% end %>
     
        </div>     
      
    </div>
<% end %>
</div>   

<div class="row">
</div>

<div class="center">
   <%= will_paginate @places, renderer: BootstrapPagination::Rails %>
</div>


