<%= form_for @place, html: { multipart: true } do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location_id %><br>
    <%= f.select :location_id, [['Houston','0'],['San Francisco','1'],['Santiago','2']], class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :budget_id %><br>
    <%= f.select :budget_id, [['$','0'],['$$','1'],['$$$','2']], class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :kind %><br>
      <%= f.select :kind, [['beer','0'],['chocolate','1'],['cocktail','2'],['coffee','3'], ['tea','4'], ['wine','5']], class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
