<div id="places" class="transitions-enabled">
<% @places.each do |place| %>     
    <div class="box panel panel-default">
        <%= link_to image_tag(place.image.url(:medium)), place %>
        <div class="panel-body">
            <%= ["Houston", "San Francisco", "Santiago"] [place.location_id] %>       
            <!-- <%= ["$", "$$", "$$$"][place.budget_id] %> -->
            <%= place.name %>
            <%= ["beer", "chocolate" ,"cocktail", "coffee", "tea", "wine"] [place.kind] %>
            
           <% if place.admin_user == current_admin_user %>
            <div class="actions">
                <%= link_to 'Edit', edit_place_path(place) %>
                <%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
            <% end %>
        </div>
    </div>
<% end %>
</div>

<div class="center">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>

