<div itemscope itemtype="http://schema.org/FoodEstablishment">
  <div id="places" class="transitions-enabled">
    <% @places.each do |place| %>     
        <div class="box">

          <div id="image-wrapper">
            <span itemprop="photo"><%= link_to image_tag(place.image.url(:medium)), place, class: "hover" %>
            </span>
    
           <span class="image-text"> 
              <span itemprop="name">
                <%= place.name %>
              </span>
  
              <span itemprop="servesCuisine"><%= kind.id [['cocktail','1'],['beer','2'],['juice','3']] %>
              </span>
          </span>
        
            
           <% if current_user.try(:is_admin) %>
              <div class="actions">
                <%= link_to 'Edit', edit_place_path(place) %>
                <%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
          <% end %>
        </div>
      
      </div>
    <% end %>
  </div>
</div>

<div class="center">
   <%= will_paginate @places, renderer: BootstrapPagination::Rails %>
</div>