<div id="places" class="transitions-enabled">
<% @places.each do |place| %>     
    <div class="box">
        <%= image_tag place.image.url(:medium) %>
        <%= ["Houston", "San Francisco", "Santiago"] [place.location_id] %>       
        <%= ["$", "$$", "$$$"][place.budget_id] %>     
        <%= place.name %>
        <%= ["beer", "chocolate" ,"cocktail", "coffee", "tea", "wine"] [place.kind] %>
        <%= link_to 'See More', place %>
       <% if place.admin_user == current_admin_user %>
        <%= link_to 'Edit', edit_place_path(place) %>
        <%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %>
       <% end %>
    </div>
<% end %>
</div>

