<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
	<%= image_tag @place.image.url(:medium) %>
</p>

<p>
  <strong>Location:</strong>
  <%= ["Houston", "San Francisco", "Santiago"][@place.location_id]%>
</p>

<p>
  <strong>Budget:</strong>
  <%= ["$", "$$" ,"$$$"][@place.budget_id]%>
  
</p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Kind:</strong>
  <%= ["beer", "chocolate" ,"cocktail", "coffee", "tea", "wine"][@place.kind]%>
</p>

<% if @place.admin_user == current_admin_user %>
<%= link_to 'Edit', edit_place_path(@place), class: "btn btn-default" %> |
<% end %>
<%= link_to 'Back', places_path, class: "btn btn-default" %>
