<p id="notice"><%= notice %></p>

<%= link_to 'Back', :back, class: "btn btn-default btn-xs" %>
<br>
<br>
<br>

<div itemscope itemtype="http://schema.org/FoodEstablishment">
  
  <div class="row">
    <div class="col-md-offset-1 col-md-6">
      <p>
      	<span itemprop="photo"><%= image_tag @place.image.url(:medium) %></span>
      </p>

      <p>
        <strong>Name:</strong>
        <span itemprop="name"> <%= @place.name %> </span>
      </p>
      
      <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <p>
        <strong>Location:</strong>
        <span itemprop="addressLocality"><%= ["Houston", "San Francisco", "Santiago", "Valparaiso", "Rio de Janeiro", "Milan", "Palo Alto", "Las Vegas", "New York", "San Diego"][@place.location_id]%></span>
      </p>


       <p> 
        <strong>Address:</strong>
        <span itemprop="streetAddress"><%= @place.address %></span>
      </p>

    </div>
      <p>
        <strong>Budget:</strong>
        <span itemprop="priceRange"><%= ["$", "$$" ,"$$$"][@place.budget_id]%></span>   
      </p>

      <p>
        <strong>About:</strong>
        <span itemprop="review"><%= @place.description %></span>
      </p>

      <p>
        <strong>Food:</strong>
        <span itemprop="servesCuisine"><%= @place.food %></span>
      </p>
      
      <p>
        <strong>Dress Code:</strong>
        <%= @place.dress %>
      </p>
     <p>
        <strong>Website:</strong>
        <span itemprop="sameAs"><%= link_to @place.website %></span>
      </p>


    </div>
  
  <div class="col-md-3">
  
<% if @place.admin_user == current_admin_user %>  
   <p>
        <strong>Latitude:</strong>
        <%= @place.latitude %>
  </p>
  <p>
        <strong>Longitude:</strong>
        <%= @place.longitude %>
  </p>

<% end %>
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=300x250&sensor=false&zoom=16&markers=#{@place.latitude}%2C#{@place.longitude}" %>

 <br>
 <br>
 <br>
 <br>

 <div class="heart">
 <p class="text-center">
 <% if current_user %>
    <%- unless current_user.favorite_places.exists?(id: @place.id) -%>
       <%= link_to favorite_places_path(@place), remote: true, method: :post do %>
             <span title="Favorite this Place"><i class="glyphicon glyphicon-heart-empty"></i></span>
             <% end %>
        <%- else -%>
          <%= link_to @favorite_place, remote: true,  method: :update_attributes %>
            <span title="Un-Favorite this Place"><i class="glyphicon glyphicon-heart"></i></span>
    <% end %>
  <% end %>
<% end %>
</p>
</div>

 </div>


</div>
<% if @place.admin_user == current_admin_user %>


<%= link_to 'Edit', edit_place_path(@place), class: "btn btn-default" %> |
<% end %>

